<ul class="publications-list">
  {% for pub in site.data.publications %}
    <li class="publication-item">
      <h3>{{ pub.title }}</h3>
      <p><strong>Authors:</strong> {{ pub.authors }}</p>
      <p><strong>Date:</strong> {{ pub.date }}</p>
      <p><strong>Venue:</strong> {{ pub.venue }}</p>
      {% if pub.image %}
        <img src="{{ pub.image }}" alt="{{ pub.title }}" style="max-width: 100%;">
      {% endif %}
      <a href="{{ pub.link }}">Read More</a>
    </li>
  {% endfor %}
</ul>
